server {
 listen ${PORT};

 location /services/RunEpsilonFunction {
   proxy_pass http://127.0.0.1:8001/;
 }

 location /services/FlexmiToPlantUMLFunction {
   proxy_pass http://127.0.0.1:8002/;
 }
 
 location /services/EmfaticToPlantUMLFunction {
   proxy_pass http://127.0.0.1:8003/;
 }
}
